<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yitai.activity"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name" android:icon="@drawable/logo_mainstage">
        <activity android:name="com.yitai.activity.LauncherActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.yitai.activity.HomeActivity"></activity>
        <activity android:name="com.yitai.activity.IntroActivity" ></activity>
        <activity android:name="com.yitai.activity.ContactActivity" ></activity>
        <activity android:name="com.yitai.activity.TenderActivity" ></activity>
        <activity android:name="com.yitai.activity.NewsActivity" ></activity>
        <activity android:name="com.yitai.activity.ProductActivity" ></activity>
        <activity android:name="com.yitai.activity.RecruitmentActivity" ></activity>
        <activity android:name="com.yitai.activity.CultureActivity" ></activity>
        <activity android:name="com.yitai.activity.ZhaopinActivity" ></activity>
        <activity android:name="com.yitai.activity.ZhaobiaoActivity" />
        <activity android:name=".PlayActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:screenOrientation="landscape" />

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
